.webuploader-element-invisible {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
}
.img_item {
  height: 100px;
  width: 100px;
  overflow: hidden;
}
[ngf-background] {
  vertical-align: middle;
  height: 100px;
  width: 100px;
  background-size: cover;
  display: inline-block;
  position: relative;
  border: 2px solid #ddd;
  border-radius: 6px;
}
[ngf-background].success {
  border-color: #8BC34A;
}
[ngf-background].success i {
  color: #8BC34A;
}
[ngf-background].error {
  border-color: #F44336;
}
[ngf-background].error i {
  color: #F44336;
}
[ngf-background] i {
  background-color: #fff;
  border-radius: 50%;
  padding: 3px;
  font-size: 18px;
  position: absolute;
  top: 5px;
  left: 5px;
}
[ngf-background] span {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50% 50% 0 0;
}
.icon-spin {
  -webkit-animation: fa-spin 2s infinite linear;
  animation: fa-spin 2s infinite linear;
}
@-webkit-keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
form {
  padding: 10px;
}
