<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
</head>

<body>
    <h1><%= title %></h1>
    <p>Welcome to
        <%= title %>
    </p>

    <form action="/file/upload" method="post" target="ifm" enctype="multipart/form-data">
        <input type="file" name="file">
        <button type="submit">提交文件</button>
    </form>

    <iframe name="ifm" id="ifm" width="100%"></iframe>
</body>

</html>
